{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'blogs/styles.css' %}">

    <!-- JQuery and AJAX CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Javascript File-->
    <script type="text/javascript" src="{% static 'blogs/script.js' %}"></script>

    <!-- Popper.js and JS for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    {% if title %}
    <title>Blog - {{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <div class="container flex">
            <a class="logo" href="{% url 'index' %}">
                <h1>Blog App</h1>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </nav>
        </div>

    </div>
    <main role="main" class="main_container">
        <!-- Notification section -->
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <!-- Content goes here -->
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>