{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="shortcut icon" href="{%  static 'blogs/favicon.png' %}">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'blogs/styles.css' %}">

    <!-- JQuery and AJAX CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Javascript File-->
    <script type="text/javascript" src="{% static 'blogs/script.js' %}"></script>

    <!-- Popper.js and JS for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    {% if title %}
    <title>Blog | {{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
</head>

<body>
    {% if user.is_authenticated %}
    <a href="{% url 'create_post' %}" style="color: black; margin: 0;">
    <div class="border new_post" title="Create New Post">
        <i class="fas fa-plus" aria-hidden="true"></i>
     </div>
    </a>
    {% endif %}
    <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md">
            <a class="logo" href="{% url 'index' %}">
                <h1>Blog App</h1>
            </a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-link">
                        <a class="notification"  href="{% url 'notifications' %}">
                            <span><i class="fas fa-globe-asia notification-icon"></i></span>
                        
                            {% if status %}
                                <span class="badge"> </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'profile' %}" style="font-weight: 600;" title="{{ user.username }}"><img class="rounded-circle mr-2"
                                width="28" height="28" src="{{ user.profile.profile_pic.url }}" alt="profile_img"></a>
                    </li>
                    <!--
                    <li class="nav-link">
                        <a href="{% url 'create_post' %}">New Post</i></a>
                    </li>
                    -->
                    <li class="nav-link">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-link">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
</nav>
<!--End of Navigation bar -->

<!-- Main Container -->
    <main role="main" class="main_container">
        <!-- Notification section -->
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-info fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <!-- Content goes here -->
            {% block content %}{% endblock %}
        </div>
        <!-- Modal to show - Login Required -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Login Required</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <h6>Please Sign-in to perform your action.</h6>
                                <a href="{% url 'login' %}" class="btn btn-outline-success mt-3">Sign In</a>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Do you need an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Modal-->
    </main>
    <footer>
        <hr>
        <p>Powered by <span style="color: darkgreen; font-weight: 600;">Django</span></p>
    </footer>
</body>

</html>