{% extends "blogs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Create Post
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
            <a href="{% url 'view_post' object.id %}" class="btn btn-outline-danger ml-3">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}