{% extends "blogs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Create Post
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
            <a class="btn btn-outline-danger ml-4" href="{% url 'index' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}