{% extends "blogs/base.html" %}
{% block content %}
<div class="new_post_container">
    <h2>Create New Post</h2>
    <hr>
    <form class="new_post" action="#">
        <h3>Title<span class="required">*</span></h3>
        <input class="post_title" type="text" placeholder="Post Title" autofocus requried>
        <h3 class="mt-3">Description<span class="required">*</span></h3>
        <textarea name="post_description" cols="30" rows="10" placeholder="Description of your post"
            required></textarea>
        <br>
        <button class="btn btn-success mr-3 mt-3">Submit</button>
        <button class="btn-danger btn mt-3">Discard</button>
    </form>
</div>
{% endblock content %}