{% extends "blogs/base.html" %}
{% load static %}
{% block content %}
<div class="flex_container">
    <div class="blog_container">
        {% for blog in blogs_list %}
        <article>
            <h2 style="font-size: 24px;">{{ blog.title }}</h2>
            <a href="#" style="text-decoration: none;"><small
                    style="margin-right: 5px; font-size: 12px; font-weight: bold;">{{ blog.author }}</small></a>
            <small style="font-size: 12px;">{{ blog.publish_date|date:"F d, Y" }}</small>
            <hr>
            <p>{{ blog.description }}</p>
            <hr>
            <section>
                <a><i class="far fa-thumbs-up like_post_{{ blog.id }}"></i> Like</a>
                <a style="margin-left: 20px;"><i class="far fa-comment comment_post_{{ blog.id }}"></i> Comment</a>
            </section>
        </article>
        {% endfor %}
    </div>
    <div class="side_container">
        <p>Trending Blogs</p>
        <ol>
            {% for blog in blogs_list_top5 %}
            <li>
                <a href="#">{{ blog.title }}</a>
            </li>
            {% endfor %}
        </ol>
        <hr>
        <p>Top Authors</p>
        <ol>
            {% for item in top_authors %}
            <li><a href="#">{{ item }}</a></li>
            {% endfor %}
        </ol>
        
    </div>
</div>
</body>

</html>
{% endblock content %}