{% extends "blogs/base.html" %}
{% load dict_key %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <article id="{{ blog.id }}" class="border mb-2">
        <div class="post_div">
            <div class="votes_container">
                {% if user.is_authenticated %}
                {% if blog.id in posts_liked %}
                {% if posts_liked|dict_key:blog.id is True %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" style="color: #8bf178;"
                    title="Upvote"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" title="Downvote"></i>
                {% else %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" title="Upvote"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" style="color: red;"
                    title="Downvote"></i>
                {% endif %}

                {% else %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" title="Upvote"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" title="Downvote"></i>
                {% endif %}

                {% else %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" title="Upvote"
                    data-toggle="modal" data-target="#exampleModalCenter"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" title="Downvote"
                    data-toggle="modal" data-target="#exampleModalCenter"></i>
                {% endif %}
            </div>
            <div class="post_header" style="flex: 2;">
                <h2 class="post_header_h2">{{ blog.title }}</h2>
                <a href="{% url 'view_profile' blog.author %}" style="text-decoration: none;"><small
                        style="margin-right: 5px; font-size: 12px; font-weight: bold;">{{ blog.author }}</small></a>| 
                <small class="date">{{ blog.publish_date|date:"F d, Y" }}</small>
            </div>
            {% if blog.author == user %}
            <div class="update_delete_section mt-2">
                <a class="update_btn my_btn" href="{% url 'update_post' blog.id %}">Update</a>
                <a class="delete_btn my_btn" href="{% url 'delete_post' blog.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        
        {% if blog.image.url is not null %}
            <img class="mt-2 rounded mx-auto d-block blog_image" src="{{ blog.image.url }}">
        {% endif %}
        <div class="index_blog_full_description">
        <pre>
            <p style="margin: 0; padding: 0;">{{ blog.description }}</p>
        </pre>
        </div>
    <i class="fas fa-eye ml-1 mr-1" aria-hidden="true"></i>
    <small class="text-secondary mr-3">{{ blog.views }} view{{ blog.views|pluralize }}</small>
</article>
        
        <!--Comment section-->
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group comment_form">
                {{ comment_form|crispy }}
                <button class="btn btn-info">Comment <i class="fas fa-comments"></i></button>
            </div>
        </form>
        {% endif %}
        {% if comments %}
        <p class="comments">{{ no_of_comments }} Comment{{ no_of_comments|pluralize }}</p>
        <div class="comment_container p-2">
            <ul class="media-list" style="list-style-type: none;">
                {% for comment in comments %}
                <li class="media mb-2" id="{{ comment.pk }}" style="border-bottom: 1px solid gainsboro;">
                    <img src="{{ comment.author.profile.profile_pic.url }}" alt="" class="rounded-circle mr-2" style="height: 50px; width: 50px">
                        <div class="media-body">
                            <a href="{% url 'view_profile' comment.author %}"><strong class="text-info">{{ comment.author }} </strong></a>
                            <small class="text-muted date">| {{ comment.date_posted|date:"d F, Y" }}</small>
                            {% if comment.author == user %}
                            <span class="edit_delete" style="float: right;">
                                <small><a class="mr-2 edit_comment" href="#">Edit</a>
                                    <a class="mr-2 delete_comment" href="#">Delete</a></small>
                        </span>
                        {% endif %}
                        <div class="mt-1 comment_p">
                            <p class="comment_text">
                            {{ comment.content|safe }}
                        </div>
                        </p>        
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="text-secondary">No comments yet...</p>
        {% endif %}
    
</div>
{% endblock content %}