{% extends "blogs/base.html" %}
{% load dict_key %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <!-- Button trigger modal -->
    <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>
    -->
    <article id="{{ blog.id }}" class="border border-info" style="background-color: cornsilk; padding: 12px;">
        <div style="display: flex; flex-direction: row;">
            <div class="votes_container">
                {% if user.is_authenticated %}
                {% if blog.id in posts_liked %}
                {% if posts_liked|dict_key:blog.id is True %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" style="color: green;"
                    title="Upvote"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" title="Downvote"></i>
                {% else %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" title="Upvote"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" style="color: red;"
                    title="Downvote"></i>
                {% endif %}

                {% else %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" title="Upvote"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" title="Downvote"></i>
                {% endif %}

                {% else %}
                <i class="fas fa-caret-up post_up_down vote_up" id="upvote_{{ blog.id }}" title="Upvote"
                    data-toggle="modal" data-target="#exampleModalCenter"></i>
                <span id="votes_count">{{ blog.likes }}</span>
                <i class="fas fa-caret-down post_up_down vote_down" id="downvote_{{ blog.id }}" title="Downvote"
                    data-toggle="modal" data-target="#exampleModalCenter"></i>
                {% endif %}
            </div>
            <div class="post_header" style="flex: 2;">
                <h2 style="font-size: 24px;">{{ blog.title }}</h2>
                <a href="{% url 'view_profile' blog.author %}" style="text-decoration: none;"><small
                        style="margin-right: 5px; font-size: 12px; font-weight: bold;">{{ blog.author }}</small></a>
                <br>
                <small style="font-size: 12px; margin-right: 10px;">{{ blog.publish_date|date:"F d, Y" }}</small>
            </div>
            {% if blog.author == user %}
            <div class="update_delete_section mt-2">
                <a class="update_btn my_btn" href="{% url 'update_post' blog.id %}">Update</a>
                <a class="delete_btn my_btn" href="{% url 'delete_post' blog.id %}">Delete</a>
            </div>
            {% endif %}
        </div>

        <hr>
        <pre>
        <p>{{ blog.description }}</p>
    </pre>
        {% if blog.image.url is not null %}
            <img class=" rounded mx-auto d-block blog_image" src="{{ blog.image.url }}">
        {% endif %}

    </article>
</div>
{% endblock content %}