@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Hind+Siliguri&family=Nunito:wght@300&family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
    /*font-family: 'Hind Siliguri', sans-serif;*/
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    height: 70px;
}

.nav_container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.logo {
    color: #fff;
}

.flex_container {
    display: flex;
    padding: 10px;
}

.blog_container {
    flex: 2;
    max-width: 100%;
    /*border: 1px solid #ccc;*/
    margin-right: 10px;
    /*padding: 13px;*/
}

.side_container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    height: fit-content;
    border-radius: 8px;
    margin-top: 8px;
    max-width: 360px;
    background-color: #edf2f8;
}

.side_container ol {
    padding-left: 0.5em;
}

ol li {
    margin-left: 1em;
    list-style-position: outside;
    list-style-type: decimal;
    font-weight: bold;
}

.side_container p {
    font-weight: bold;
    font-size: 20px;
    color: rgb(70 6 247 / 88%);
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar .flex {
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar h1 {
    font-size: 2.2rem;
    font-weight: 800;
}

.main_container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 20px;
    max-width: 100%;
}

.navbar li>a {
    font-size: 1rem;
    padding: 10px;
}

.navbar li>a:hover {
    border-bottom: 2px solid #fff;
}

.blog_container article {
    border: 1px solid #bababd;
    box-shadow: 3px 3px rgb(214, 214, 214);
    border-radius: 10px;
    padding: 10px;
    background-color: mintcream;
    margin: 8px auto;
    max-height: 350px;
    overflow: hidden;
}

.blog_container p {
    padding: 10px 0;
    line-height: 1.3;
}

.blog_container section {
    padding: 5px;
}

.blog_container i {
    color: grey;
}

.blog_container section>a {
    text-decoration: none;
    cursor: pointer;
}

.blog_container section>a:hover {
    font-weight: bold;
    color: green;
}

.post_up_down {
    cursor: pointer;
    font-size: 36px;
}

.post_header {
    margin-top: 8px;
    margin-left: 2px;
}

.fa-caret-up:hover {
    color: green;
}

.fa-caret-down:hover {
    color: red;
}

.votes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 50px;
    max-height: 30px;
    margin: -5px 2px;
}

#votes_count {
    text-align: center;
    font-size: 1.61538462rem;
}

.blog_title_index {
    color: black;
}

.blog_title_index:hover {
    text-decoration: none;
}

.my_btn {
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: gray;
    margin: 5px;
}

.my_btn:hover {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.update_btn:hover {
    background-color: rgb(3, 119, 134);
}

.delete_btn:hover {
    background-color: red;
}

/* CSS for create_post.html*/

.new_post_container {
    max-width: 900px;
    margin: 0 auto;
}

.required {
    color: red;
}

.post_title {
    height: 2rem;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px auto;
}

.new_post_container textarea {
    height: 25rem;
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #b4becb;
}

.new_post input, .new_post textarea:focus {
    outline: none;
}

.btn_class {
    padding: 5px;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 5px;
    margin: 8px auto;
    cursor: pointer;
}

.submit_btn {
    background-color: green;
}

.discard_btn {
    background-color: red;
    margin: auto 15px;
}

.new_post {
    margin: 10px auto;
}

.new_post h3 {
    font-size: 1.4rem;
}

/* CSS for register.html */

.content-section {
    max-width: 700px;
    margin: 0 auto;
}

/* CSS for profile and view_profile.html */

.profile_pane {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.posts_container {
    padding: 10px;
    margin: 10px auto;
}