@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Hind+Siliguri&family=Nunito:wght@300&family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
    /*font-family: 'Hind Siliguri', sans-serif;*/
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px
}

.navbar {
    background-color: black;
    height: 4.5rem;
}

.nav_container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.logo {
    color: #fff;
}

.flex_container {
    display: flex;
    /*padding: 10px;*/
}

.blog_container {
    flex: 2;
    max-width: 75%;
    /*border: 1px solid #ccc;*/
    margin-right: 0;
    padding: 12px;
}

/*
.side_container {
    flex: 1;
    padding: 10px;
    margin-left: 3px;
    height: fit-content;
    border-radius: 5px;
    margin-top: 8px;
    width: fit-content;
    max-width: 300px;
    background-color: #edf2f8;
}

*/

.side_container {
    float: right;
    max-width: 400px;
    border-radius: 5px;
    height: fit-content;
    padding: 10px;
    /*position: fixed;
    right: 5%;
    bottom: 0;*/
}

.side_container ul {
    padding-left: 0.5em;
    /*background-color: #edf2f8;*/
    padding: 10px;
    box-shadow: 3px 3px rgb(214, 214, 214);
}

.side_container li {
    margin-left: 1em;
    list-style-position: outside;
    list-style-type: none;
    font-weight: 500;
    border-bottom: 1px solid #eaeae9f0;
    padding: 2px;
}

.side_container p {
    font-weight: bold;
    font-size: 1.4rem;
    /*color: rgb(70 6 247 / 88%);*/
    color: white;
    background-color: black;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar .flex {
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar h1 {
    font-size: 2.1rem;
    font-weight: 800;
}

.main_container {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    /*padding: 20px;*/
    max-width: 100%;
}

.navbar li>a {
    font-size: 1rem;
    padding: 10px;
}

.navbar li>a:hover {
    border-bottom: 2px solid #fff;
}

.blog_container article {
    border: 1px solid #bababd;
    box-shadow: 3px 3px rgb(214, 214, 214);
    border-radius: 4px;
    /*padding: 10px;*/
    /*background-color: mintcream;*/
    margin: 8px auto;
    max-height: fit-content;
    max-width: 900px;
    overflow: hidden;
}

.blog_container p {
    padding: 0;
    line-height: 1.3;
}

.blog_container section {
    padding: 5px;
}

.blog_container section>a {
    text-decoration: none;
    cursor: pointer;
}

.blog_container section>a:hover {
    font-weight: bold;
    color: green;
}

.post_up_down {
    cursor: pointer;
    font-size: 26px;
    color: white;
    line-height: 0.8;
}

.post_header {
    margin-top: 8px;
    margin-left: 2px;
}

.fa-caret-up:hover {
    color: #8bf178;
}

.fa-caret-down:hover {
    color: rgb(235, 31, 31);
}

.votes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 50px;
    max-height: fit-content;
    margin: -4px;
}

#votes_count {
    text-align: center;
    font-size: 1.15rem;
}

.blog_title_index {
    color: black;
}

.blog_title_index:hover {
    text-decoration: none;
}

.my_btn {
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: gray;
    margin: 5px;
}

navbar-expand-md .my_btn:hover {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.update_btn {
    background-color: rgb(32, 151, 167);
    margin-left: 10px;
}

.update_btn:hover {
    background-color: rgb(3, 119, 134);
}

.delete_btn {
    background-color: rgb(214, 28, 28);
}

.delete_btn:hover {
    background-color: red;
}

.posts_container ul {
    list-style-type: none;
}

.posts_container li {
    font-weight: 600;
}

.posts_container a:hover {
    text-decoration: none;
}

/* CSS for create_post.html*/

.new_post_container {
    max-width: 900px;
    margin: 0 auto;
}

.required {
    color: red;
}

.post_title {
    height: 2rem;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px auto;
}

.new_post_container textarea {
    height: 25rem;
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #b4becb;
}

.new_post input, .new_post textarea:focus {
    outline: none;
}

.btn_class {
    padding: 5px;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 5px;
    margin: 8px auto;
    cursor: pointer;
}

.submit_btn {
    background-color: green;
}

.discard_btn {
    background-color: red;
    margin: auto 15px;
}

.new_post {
    margin: 10px auto;
}

.new_post h3 {
    font-size: 1.4rem;
}

/* CSS for register.html */

.content-section {
    max-width: 700px;
    margin: 0 auto;
}

/* CSS for profile and view_profile.html */

.profile_pane {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.posts_container {
    padding: 10px;
    margin: 10px auto;
}

.blog_image {
    max-height: 300px;
    max-width: 300px;
}

pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    word-break: break-word;
}

.index_blog_description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 180px;
    padding: 2px 5px;
}

.comments {
    font-style: normal;
    font-weight: 600;
}

.save_edit_btn {
    background-color: #17a2b8;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
}

.cancel_edit_btn {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
}

.save_edit_btn:hover {
    background-color: #0c899c;
    text-decoration: none;
    color: white;
}

.cancel_edit_btn:hover {
    background-color: rgb(167, 4, 4);
    text-decoration: none;
    color: white;
}

.comment_edit_text {
    font-size: 14px;
}

.comment_text {
    font-size: 14px;
}

.side_container a:hover {
    text-decoration: none;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.pagination {
    width: fit-content;
    margin: 0 auto;
}

.pagination a {
    margin-left: 4px;
}

hr {
    margin-bottom: 5px;
}

.post_header_h2 {
    font-size: 18px;
    margin-bottom: 2px;
}

.post_div {
    display: flex;
    flex-direction: row;
    background-color: #5d0303;
    color: white;
    padding: 5px 0;
}

.post_div h2 {
    color: white;
}

.post_header a {
    color: yellow;
}

.index_blog_full_description {
    padding: 2px 5px;
}

.date {
    font-size: 11px;
}

#hint_id_password1 {
    padding-left: 18px;
}

.my_btn:hover {
    text-decoration: none;
    color: white;
}

.follow {
    padding: 8px;
    border-radius: 20px;
    color: white;
    font-size: small;
    font-weight: 600;
    transition: all .2s ease-in;
    border: none;
    cursor: pointer;
    outline: 0 !important;
}

.follow-btn {
    background-color: rgba(4, 90, 139, 0.74);
}

.following-btn {
    background-color: rgb(19, 214, 101);
}

.follow:hover {
    text-decoration: none;
    color: white;
}

.profile_container {
    margin: 12px;
    width: 75%;
}

.followers_list {
    list-style-type: none;
    padding-left: 1rem;
}

.connections_header {
    font-weight: 600;
    text-decoration: none;
    background-color: #bbbbbb17;
}

.connections a:hover {
    text-decoration: none;
}

.view_followers {
    color: black;
}

.view_followers:hover {
    text-decoration: none;
    color: black;
}

.new_post {
    position: fixed;
    bottom: 5rem;
    width: fit-content;
    height: fit-content;
    background-color: black;
    border-radius: 100%;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    right: 6rem;
    z-index: 1;
}

.new_post:hover {
    transition: transform 0.6s;
    transform: rotate(360deg);
    padding: 1.1rem;
    background-color: rgba(233, 15, 15, 0.904);
}

.new_post i {
    color: #fff;
    font-size: 2.5rem;
}

@media only screen and (max-width: 820px) {
    .profile_pane h2 {
        font-size: 24px;
    }
    .profile_pane img {
        height: 110px;
        width: 110px;
    }
    .side_container {
        visibility: hidden;
        display: none;
    }
    .blog_container {
        max-width: 100%;
        padding: 0;
    }
    .main_container {
        padding: 0;
        margin: 0;
    }
    .col {
        padding: 10px;
    }
    .my_btn {
        padding: 5px;
        font-weight: 500;
        font-size: 11px;
    }
    .navbar {
        height: auto;
        padding: .2rem;
    }
    .navbar li>a {
        padding: 0;
    }
    .navbar h1 {
        font-size: 1.8rem;
        font-weight: 800;
    }
    .pagination a {
        padding: 0.4rem;
    }
    .new_post {
        right: 2rem;
        bottom: 2rem;
    }
}