{% extends "blogs/base.html" %}
{% load set_key %}
{% block content %}
<div class="content-section">
    <div class="profile_pane flex border">
        <img class="media rounded-circle" src="{{ curr_user.profile.profile_pic.url }}" alt="profile_image"
            height="150px" width="150px">
        <div class="profile_container">
            <h2 class="username_field">{{ curr_user.username }}</h2>
            <!--<p style="font-size: 0.8rem;">{{ curr_user.email }}</p>-->
            {% if user != curr_user %}
            {% if not followers|set_key:curr_user.username %}
            <button class="follow-btn follow"><i class="fas fa-plus"></i>&nbsp;Follow</button>
            {% else %}
            <button class="following-btn follow"><i class="fas fa-check-circle"></i>&nbsp;Following</button>
            {% endif %}
            {% endif %}
            <div class="followers_section mt-2">
                <a class="view_followers" href="{% url 'view_followers' curr_user %}"><small><i class="fas fa-users"></i>&nbsp;<b>{{ no_of_followers }}</b> follower{{ no_of_followers|pluralize }}</small></a>&nbsp;<small>| <b>{{ no_of_following }}</b>
                    following</small>
                </div>
        </div>
    </div>
    <div class="posts_container border">
        <h5>Posts</h5>
        <ul class="list-group list-group-flush">
            {% for blog in user_blogs %}
            <li><a href="{% url 'view_post' blog.pk %}">{{ blog.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}