{% extends "blogs/base.html" %}
{% block content %}
<div class="content-section">
    <div class="profile_pane flex border">
        <img class="media rounded-circle" src="{{ curr_user.profile.profile_pic.url }}"
            alt="profile_image" height= "150px" width= "150px">
            <div style="margin: 12px;">
                <h2>{{ curr_user.username }}</h2>
            </div>
    </div>
    <div class="posts_container border">
        <h5>Posts</h5>
        <ul class="list-group list-group-flush">
            {% for blog in user_blogs %}
            <li><a href="{% url 'view_post' blog.pk %}">{{ blog.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}